apiVersion: v1
kind: Service
metadata:
  labels:
    name: prometheus
  name: "{{ item.name }}"
  namespace: "{{ openshift_prometheus_namespace }}"
spec:
  ports:
  - name: prometheus
    port: {{ item.port }}
    protocol: TCP
    targetPort: {{ item.targetPort }}
  selector:
    app: prometheus